#edit-languages {
  column-count: 1;
}

@media (min-width: 1200px) {
  #edit-languages {
    column-count: 2;
  }
}

@media (min-width: 1600px) {
  #edit-languages {
    column-count: 3;
  }
}

#edit-settings,
#edit-preview {
  width: 50%;
  float: left;
}

#edit-actions {
  clear: both;
}

.form-item--theme,
.form-item--version,
.form-item--cdn {
  float: left;
  margin-right: 10px;
}

#edit-languages--wrapper {
  clear: both;
}

#edit-preview-markup h2 {
  display: none;
}
